<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Movie Like</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['actors']" routerLinkActive="router-link-active" >Actors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['movies']" routerLinkActive="router-link-active" >Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="router-link-active" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['addMovie']" routerLinkActive="router-link-active" >Add Movie</a>
      </li>
    </ul>
  </div>
</nav>

